<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  </head>

  <body>
    <div class="links">
          <%= link_to "Log In", new_user_session_path %> |

          <%= link_to "Sign In", new_user_registration_path%> |

          <%= link_to "Sign out", destroy_user_session_path, :method => :delete, data: { confirm: 'Are You sure?'}%>
    </div>      
    <div class="container">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    	<%= yield %>
	</div>
  </body>
</html>
